#chat_room.row

  #chat_conversations.col_12.col(style="height: 100%;")
    .ui-widget-content.ui-corner-all(style="padding: 5px; height: 94%; overflow-y: scroll;")
      ul

  #chat_users.col_4.col.ui-widget(style="height: 100%;")
    .ui-widget-header.ui-corner-top(style="border-bottom: 0; padding: 5px;") Usuários
    .ui-widget-content.ui-corner-bottom(style="padding: 5px; height: 88%; overflow-y: scroll;")
      ul

.row

  #chat_text.col_13.col
    textarea(placeholder='Digite aqui sua mensagem')#text.ui-widget.ui-widget-content.ui-corner-all

  #chat_controls.col_3.col
    button(type='button')#send Enviar
    button(type='button')#clear Limpar

  script(type="text/javascript")

    // Function to get the first part of the user's email
    function toShortName(email) {
      return email.substr(0, email.indexOf("@"));
    }

    // Function to the the gravatar icon for the user email
    function toGravatarUrl(email) {
      var emailHash = hex_md5(email);
      return "http://www.gravatar.com/avatar/" + emailHash + "?size=40&d=mm";
    }

    $(function() {

      // Text input
      $("#text").focusin(function() {
        $(this).addClass('ui-state-highlight');
      }).focusout(function() {
        $(this).removeClass('ui-state-highlight');
      });

      // Create buttons
      $("#send").button();
      $("#clear").button();

      // Conversations auto scroll
      $("#chat_conversations div").autoscroll({
        step: 100
      });
  
      // Prompt for user email
      var email = '';
      var current = 0;

      while(email === null || email === '') {
        email = prompt('Qual seu email?', '');
      }

      // SEND A REQUEST TO THE SERVER TO REGISTER THE NEW USER
      $.post('/join',
            {email: email},
            function(data) {
                $("#login_menu").html(email);
                // Add email to users list
                current = data[1];
                for (i = 0 ; i < data[0].length ; i++ ) {
                    $("<li data-name='" + data[0][i][0] + "'></li>").html("<img src='" + toGravatarUrl(data[0][i][0]) + "' />" + toShortName(data[0][i][0])).appendTo("#chat_users ul");
                }
              update();
        });

        

      // focus on text input
      $("#text").focus();
      
      function send() {
        $.post('/message', 
            {email: email, msg: $('#text').val()},
            function(data) {
                if (data == 'success') {
                    $('#text').val('');
                    $('#text').focus();
                }
            }
        );
      };

      // Function to automatically fetch new messages from the server
      // each 0,5 seconds
      function update() {
            $.get('/get-messages',
                  {current: current, email: email},
                  function(data) {
                      if (data) {
                          current = data[2];
                          if (data[0].length > 0) {
                            var list = '';
                            for (i = 0 ; i < data[0].length ; i++) {
                                list +=  "<li data-name='" + data[0][i][0] + "'>";
                                list += "<img src='" + toGravatarUrl(data[0][i][0]) + "' />" + toShortName(data[0][i][0]) + "</li>";
                            }
                            $('#chat_users ul').html(list);
                          }
                          for(i = 0 ; i < data[1].length ; i++) {
                            if (data[1][i][0] != '') {
                                $("<li style='display: none;'></li>").html("<img src='" + toGravatarUrl(data[1][i][0]) + "' />" + "<span class='conversation_text'><b>" + toShortName(data[1][i][0]) + "</b>: " + data[1][i][1] + "</span>").appendTo("#chat_conversations ul").fadeIn();
                            } else {
                               $("<li class='conversation_notice' style='display: none;'></li>").html(data[1][i][1]).appendTo("#chat_conversations ul").fadeIn();
     
                            }
                          }
                      }
                  }
            )
          setTimeout(update, 2000);
      };

      $("#send").click(send);
      $("#text").keyup(function(e) {
        if (e.keyCode === 13) {
          send();
        }
      });

      $("#clear").click(function() {
        $("#text").val('');
        $('#text').focus();
      });

        $(window).unload(function() {
                $.post('/leave',
                    {email: email}
                )
        });

    });
